.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer small {
    display: block;
    padding: 8px 0;
    color:#00000;
} 

footer {
    margin-top: auto;
    background-color: #C0C0C0;
    text-align:center;
}

.wrapper {
    text-align:center;
}

.about {
    margin-top:80px;
}

.enter {
    margin-top:70px;
}

.signup {
    margin-top:50px;
}

.title {
    padding-top:110px;
}

.register-title {
    padding-top:80px;
}

.register-form {
    padding-top:30px;
}

.login-title {
    padding-top:80px;
}

.login-form {
    padding-top:30px;
}